/* External CSS File */

body{
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Universal Selector */
* {
    background-color: lightblue;
}

/* Group Selector */
h1, h2, h3 {
    text-align: center;
    color: navy;
}